/* @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&display=swap');


.cloudsBg {
  padding: 100px 0;
  overflow: hidden;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  position: relative;
  opacity: 0.5;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  top: -15px;
  left: 102px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: moveclouds 4s linear infinite;
}

.x2 {
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0.6;
  animation: moveclouds 5s linear infinite;
}

.x3 {
  top: 45%;
  left: 70%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.8;
  animation: moveclouds 6s linear infinite;
}

.x4 {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  opacity: 0.75;
  animation: moveclouds 5s linear infinite;
}

.x5 {
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.8;
  animation: moveclouds 4s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 1000px;
  }
}


.title {
 
  text-shadow: 0 0 0.05em #afafaf, 0 0 0.2em #1b1b1b, 0 0 0.3em #a0a0a0;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
} */