/* .cursorWrapper {
  position: fixed;
  pointer-events: none;
  z-index: 99;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.cursorAirplane {
  position: relative;
  width: 80px;
  height: 80px;
  transition: transform 0.1s ease-out;
  z-index: 100;
  pointer-events: none;
} */

/* Luces comunes */
/* .light {
  position: absolute;
  border-radius: 9999px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  transform: rotate(-360deg);
} */

/* Parpadeo luces */
/* @keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  40%, 75% {
    opacity: 0;
  }
}

.blinkRed {
  animation: blink 4s infinite;
  background-color: #ff0000c2;
  box-shadow: 0 0 8px #ff0000c2;
}

.blinkGreen {
  animation: blink 3s infinite;
  animation-delay: 0.6s;
  background-color: #00ff00;
  box-shadow: 0 0 8px #00ff00;
  
}

.cockpitWindow {
  position: absolute;
  top: 8px;
  margin: -1.8px;
  left: 4.2px;
  width: 12px;
  height: 5px;
  border-radius: 9999px;
  background: linear-gradient(90deg, #2e2e2ecc, rgb(0, 0, 0));
 
  pointer-events: none;
  transform: rotate(135deg);
}

.cockpitWindowFront{
  position: absolute;
  
  top: 4px;
  left: 5.4px;
  width: 6px;
  height: 8px;
  border-radius: 9999px;
  background: #2e2e2e;
 
  pointer-events: none;
  transform: rotate(135deg);
}

 */
