@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Oswald:wght@500&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: "Oswald", sans-serif;
}

.nav {
  z-index: 999999999999999999;
}

/* hex logo */
/* --cerulean: #0c95ea;
--malibu: #62bdff;
--turquoise-blue: #4af0d8;
--parchment: #f4eddc;
--orient: #014e7d;
--malibu: #7bd2ff;
--steel-blue: #4a86ae;
--deep-cerulean: #026fb3;
--ziggurat: #b5d1e1; */

:root {
  /* Valores por defecto (dark) */
  --bg: #0f172a;
  --bg-secondary: #1e293b;
  --bg-tertiary: #374151;
  --bg-accent: #14b8a6;
  --text: #f8fafc;
  --text-tittles: #f8fafc;
  --text-subtittles: #e2e8f0;
  --text-secondary: #cbd5e1;
  --text-tertiary: #94a3b8;
  --text-btn: #000000;
  --text-nav: #fcf8f8;
  --accent: #14b8a6;
  --accent-hover: #0b867c;
  --accent-secondary: #01ac9d;
  --accent-secondary-hover: #0f766e;
  --border: #334155;
  --map-filter: brightness(1.6) contrast(1.1);
  --gradient: linear-gradient(to bottom, #000000, #080808, #000000);
  --gradient-secondary: linear-gradient(to top, #000000, #100818, #000000);
  --gradient-tertiary: linear-gradient(to bottom, #080808, #141414, #080808);

  /* hex logo */
  /* --cerulean: #0c95ea;
  --malibu: #62bdff;
  --turquoise-blue: #4af0d8;
  --parchment: #f4eddc;
  --orient: #014e7d;
  --malibu: #7bd2ff;
  --steel-blue: #4a86ae;
  --deep-cerulean: #026fb3;
  --ziggurat: #b5d1e1; */
}

/* Tema light */
html[data-theme="light"] {
  --bg: #f1fcfb;
  --bg-secondary: #c2dbf3;
  --bg-tertiary: #a8c7e6;
  --bg-accent: #0891b2;
  --text: #1e293b;
  --text-secondary: #0d9488;
  --text-tertiary: #94a3b8;
  --text-tittles: #1e293b;
  --text-subtittles: #0d9488;
  --text-btn: #fcf8f8;
  --text-nav: #fcf8f8;
  --accent: #0891b2;
  --accent-hover: #0b657e;
  --accent-secondary: #01ac9d;
  --accent-secondary-hover: #0f766e;
  --border: #e2e8f0;
  --map-filter: brightness(0.9) contrast(1.05);

  --gradient: linear-gradient(to bottom, #ffffff, #f1f5f9, #ffffff);
  --gradient-secondary: linear-gradient(to top, #ffffff, #dee6ee, #ffffff);
  --gradient-tertiary: linear-gradient(to bottom, #f1f5f9, #ffffff, #f1f5f9);
}

/* Tema vibrant */
html[data-theme="vibrant"] {
  --bg: #fff7ed;
  --bg-secondary: #014e7d;
  --bg-tertiary: #ffaf40;
  --bg-accent: #014e7d;
  --text: #fcf9f7;
  --text-secondary: #f33219;
  --text-tertiary: #94a3b8;
  --text-tittles: #fcf9f7;
  --text-subtittles: #f33219;
  --text-btn: #fcf9f7;
  --text-nav: #fcf8f8;
  --accent: #014e7d;
  --accent-hover: #023e63;
  --accent-secondary: #e2ddda;
  --accent-secondary-hover: #e4c7a6;
  --border: #fed7aa;
  --map-filter: brightness(.5) contrast(1.1) saturate(1.2);

  --gradient: linear-gradient(to top, #ff9f1a, #ffaf40, #ff9f1a);
  --gradient-secondary: linear-gradient(to bottom, #fdb756, rgb(248, 177, 78), #fdb756);
  --gradient-tertiary: linear-gradient(to top, #f8a736, #ebaf5b, #f8a736);

}

/* Clases reutilizables */
.bg-theme {
  background-color: var(--bg);
}
.bg-theme-secondary:hover {
  background-color: var(--bg-secondary);
}
.bg-theme-secondary {
  background-color: var(--bg-secondary);
}
.bg-theme-tertiary {
  background-color: var(--bg-tertiary);
}
.bg-theme-accent {
  background-color: var(--bg-accent);
}
.text-theme {
  color: var(--text);
}
.text-theme-secondary {
  color: var(--text-secondary);
}
.text-theme-tertiary {
  color: var(--text-tertiary);
}
.text-theme-subtittles {
  color: var(--text-subtittles);
}
.text-theme-tittles {
  color: var(--text-tittles);
}
.text-theme-btn {
  color: var(--text-btn);
}
.text-theme-nav {
  color: var(--text-nav);
}
.border-theme {
  border-color: var(--border);
}
.accent {
  color: var(--accent);
}
.accent-hover:hover {
  color: var(--accent-hover);
}
.accent-secondary {
  color: var(--accent-secondary);
}
.accent-secondary-hover:hover {
  color: var(--accent-secondary-hover);
}
.map-theme {
  filter: var(--map-filter);
  transition: filter 0.3s ease;
}

/* Para gradients */
.bg-gradient-theme {
  background-image: var(--gradient);
}
.bg-gradient-theme-secondary {
  background-image: var(--gradient-secondary);
}
.bg-gradient-theme-tertiary {
  background-image: var(--gradient-tertiary);
}
/* ----------------- Pattern de fondo ----------------- */
.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 20px,
      transparent 20px,
      transparent 40px
    ),
    radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(255, 255, 255, 0.15) 0%,
      transparent 40%
    );
  background-blend-mode: overlay;
  background-size: cover;
}

/* ----------------- Aviones animados ----------------- */
.pattern::before,
.pattern::after {
  content: "\2708"; /* ✈ */
  position: absolute;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

.pattern::before {
  top: 10%;
  left: -5%;
  animation: fly1 12s linear infinite;
}

.pattern::after {
  top: 60%;
  left: -10%;
  font-size: 1.5rem;
  animation: fly2 18s linear infinite;
}

@keyframes fly1 {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(110vw) rotate(360deg);
  }
}

@keyframes fly2 {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(120vw) rotate(-360deg);
  }
}

/* ----------------- Globos animados ----------------- */
.globo {
  position: absolute;
  font-size: 2.5rem;
  color: rgba(255, 140, 0, 0.7); /* naranja/amarillo */
  animation: float 8s ease-in-out infinite alternate;
}

.float1 {
  top: 40%;
  left: 30%;
  animation-delay: 0s;
}
.float2 {
  top: 70%;
  left: 60%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-30px) translateX(10px);
  }
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-9 21:56:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-9 21:58:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.spinner {
  width: 80px;
  height: 80px;
  background-image: url("/VIAJES-soar-logo-blues.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px; /* opcional, por si tu logo es cuadrado */
  animation: rotateplane 1.8s infinite ease-in-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(360px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: perspective(720px) rotateX(0deg) rotateY(720deg);
  }
 
}
